Django==1.9.6
awscli==1.10.34
botocore==1.4.24
colorama==0.3.3
docutils==0.12
futures==3.0.5
jmespath==0.9.0
jsonfield==1.0.3
numpy==1.11.0
pandas==0.18.1
psycopg2==2.6.1
pyasn1==0.1.9
python-dateutil==2.5.3
pytz==2016.4
requests==2.10.0
rsa==3.4.2
s3transfer==0.0.1
simplejson==3.8.2
six==1.10.0
wsgiref==0.1.2
yahoo-finance==1.2.1
